<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.personalitytest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PersonalityTest">
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".userupdates"
            android:exported="false" />
        <activity
            android:name=".usersettings"
            android:exported="false" />
        <activity
            android:name=".usercharts"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".BirthPlace"
            android:exported="false" />
        <activity
            android:name=".Name"
            android:exported="false" />
        <activity
            android:name=".Friends_Page"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Password"
            android:exported="false" />
        <activity
            android:name=".Displayname"
            android:exported="false" />
        <activity
            android:name=".Email"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>