<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.personalitytest" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PersonalityTest"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".connect_person"
            android:exported="false" />
        <activity
            android:name=".changeDP"
            android:exported="false" />
        <activity
            android:name=".hist_career"
            android:exported="false" />
        <activity
            android:name=".hist_love"
            android:exported="false" />
        <activity
            android:name=".hist_personality"
            android:exported="false" />
        <activity
            android:name=".connect_main"
            android:exported="false" />
        <activity
            android:name=".Friends_Chart"
            android:exported="false" />
        <activity
            android:name=".Friends_Update"
            android:exported="false" />
        <activity
            android:name=".Friends_Compatibility"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".userupdates"
            android:exported="false" />
        <activity
            android:name=".usersettings"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Friends_Page"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Tests"
            android:exported="false" />
        <activity
            android:name=".QuizLove"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".QuizPersonality"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".QuizCareer"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>